@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  font-family: 'Roboto Slab';
  box-sizing: border-box;
}

header {
  background-color: #E9A178;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding-top: 5px;
  position: sticky;
  top: 0;
  color: white;
} 

header .title {
  padding-left: 20px;
  display: flex;
}

nav {
  color: white;
  top: 0;
  font-size: 16px;
}
 
nav ul {
  padding-inline: 2rem;
  display: flex;
  gap: 2rem;
}
 
nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: black;
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
}

.logo img {
  width: 80px;
  padding-top: 3px;
}

article {
  padding: 20px;
}

main {
  display: flex;
  overflow: auto;
  padding: 10px;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
}

.card {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.featured-image {
  max-height: 300px; 
  object-fit: cover;
  object-position: center;
}

.html, .css {
  display: flex;
  align-items: center;
  padding: 5px;
}

footer {
  padding: 20px;
  color: #fff;
  background-color: #7A3E65;
  text-align: center;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

#about img {
  width: 200px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  #content, aside {
    width: 100%;
    padding: 0;
  }
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}